body{
    margin: 0px;
}
.page {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;   
    min-height: 100vh;         
}
.page header {
    background-color: rgb(41, 132, 250);
    width: 100%;
    height: 100px;
}


.page section main {
    display: flex;
    
    padding: 1em;
    flex-grow: 1;
    flex-direction: column;
}
#input{
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin: 25px;
    height: auto;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 20px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea {
    resize: none;
    width: 80%;
    padding: 12px 20px;
    margin: 20px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

.small-div {
    width: 90%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    
}

.small-input {
    display: inline;
    width: 40% !important;
}

input[type=text]:focus {
    border: 3px solid rgb(49, 161, 236);
}




.dataTables_wrapper{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}



.remContact{
    opacity: 0%;
    transition: 0.5s linear;
}
.destroy{
    font-weight: bold;
    margin: auto;
    display: inline;
}

.edit{
    margin: auto;
}

.f{
    margin: 8px;
    display: inline;
    
}

tbody{
    border: 1px solid black;
}



td{
    padding-left: 10px;
    padding-right: 10px;
}



tr > td:nth-last-child(2){
    border-right: 1px solid black;
    
}

td:nth-last-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.destroy:hover{
    color: red;
}
.fa{
    line-height: 1;
    vertical-align: middle;
    height: 57px;
    width: 57px;
    text-align: center;
    float: right;
    margin: 20px;
    margin-top: 20px;
    font-weight: bold;
    border: 1px transparent;
    border-radius: 60%;
    background-color: #57b5ff;
}

.fa:hover{
    cursor: pointer;
}
.heading{
    position: relative;
    left: 40%;
    top: 10%;
    display: inline-block;
    text-align: center;
}
.modal {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        visibility: hidden;
}
body.modal-visible .contact > .modal  {
    visibility: visible;
}

body.note-visible .note > .modal {
    visibility: visible;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 60%;
    height: auto;
    border: 3px solid rgb(114, 114, 114);
    border-radius: 5px;
    transition: transform 0.5s;
    transform: scale(0);
}

.note-content {
    background-color: white;
    padding: 20px;
    width: 60%;
    height: 60vh;
    border: 3px solid rgb(114, 114, 114);
    border-radius: 5px;
    transition: transform 0.5s;
    transform: scale(0);
}

body.modal-visible .modal-content {
    transform: scale(1);

}

body.note-visible .note-content {
    transform: scale(1);
}

body.modal-visible .page {
        filter: blur(5px);
        transition: 0.5s linear;
}

.close-button {
    
    float: right;
    margin-left: 100px;
}


#note {
    margin-top: 20px;
    background-color: #eee;
  width: 100%;
  height: 90%;
  
  overflow-x: hidden;
  overflow-y: scroll;
}

.note-content > h2{
    display: inline;
    position: relative;
}



